---
layout: meeting
root: .
topic: Importation de données dans R
place: local 115, pavillon Dessaulles
humandate: Dec 1, 2014
humantime: 12:00 pm - 1:00 pm
date: 2014-12-01
instructor: ["Denis Haine"]
contact: denis.haine@umontreal.ca
---
<!--
Edit the values in the parameter block above to be appropriate for your meeting.
Please use three-letter month names for the 'humandate' field.
-->

<head>
  <title>clinicR: groupe d'utilisateurs de R à la FMV!
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

<p>
  clinicR est le RUG (<a href="http://www.r-project.org/">R</a> User Group) de
  la Faculté de médecine vétérinaire de l'Université de Montréal. Cette page
  présente l'atelier à
  venir. Un <a href="https://github.com/dhaine/clinicR/wiki">wiki</a> est
  également disponible ainsi
  qu'une <a href="http://groups.google.com/group/clinicR">liste de
  diffusion</a>. L'organisateur est <a href="mailto:denis.haine@umontreal.ca"
  target="_top">Denis Haine</a>.
</p>

<h2>Prochaine rencontre:</h2>
<!-- This block displays the the topic of next meeting. -->
{% if page.topic %}
<p>
  <strong>Activité:</strong>
  {{ page.topic }}
</p>
{% endif %}
<!-- This block displays the instructor's name if available. -->
{% if page.instructor %}
<p>
  <strong>Instructor:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}
<!-- This block displays the meeting place if available. -->
{% if page.place %}
<p>
  <strong>Lieu:</strong>
  {{ page.place }}
</p>
{% endif %}

<footer>
  <ul>
    <li><a href="mailto:denis.haine@gmail.com">email</a></li>
    <li><a href="https://github.com/dhaine/clinicR">github.com/dhaine/clinicR</a></li>
  </ul>
</footer>

</body>
