---
---
<!DOCTYPE html>
<html>
  <head>
    <title>clinicR: {{ page.topic }}</title>
<!--    {% include header.html %}-->
    <meta name="topic" content="{{page.topic}}" />
    <meta name="date" content="{{page.humandate}}" />
    <meta name="date" content="{{page.date}}" />
    {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{page.redirect}}" />
    {% endif %}
</head>
<body>
  <div class="container">
    <div class="span10 offset1">
      {% include banner.html %}

      <div class="hero-unit">
	<div class="row-fluid">
	  <div class="span10">
	    <h2>{{page.topic}}</h2>
	  </div>
	</div>
	<div class="row-fluid">
	  <div class="span6">
	    <p>{{page.humandate}}</p>
	    <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
	  </div>
	  <div class="span6">
	    <p>
	      <strong>Instructor:</strong>
	      {% if page.instructor %}
	      {{page.instructor | join: ', ' %}}
	      {% else %}
	      to be announced.
	      {% endif %}
	    </p>
	  </div>
	</div>
      </div>
      {{content}}

    </div>
  </div>
  {% include javascript.html %}
</body>
</html>
