---
---
<!DOCTYPE html>
<html>
  <head>
    <title>clinicR: groupe d'utilisateurs de R à la FMV</title>
    {% include head.html %}
  </head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/dhaine/clinicR/wiki">wiki</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="span10 offset1">
      {% include banner.html %}

      <div class="hero-unit">
	<div class="row-fluid">
	  <div class="span10">
	    <h2>Prochaine rencontre: {{page.topic}}</h2>
	  </div>
	</div>
	<div class="row-fluid">
	  <div class="span6">
	    <p>{{page.humandate}}</p>
	    <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
	  </div>
	  <div class="span6">
	    <p>
	      <strong>Par:</strong>
	      {% if page.instructor %}
	      {{page.instructor | join: ', ' %}}
	      {% else %}
	      à venir.
	      {% endif %}
	    </p>
	  </div>
	  <div class="span6">
	    <p>
	      <strong>Où?:</strong>
	      {% if page.place %}
	      {{page.place}}
	      {% else %}
	      à venir.
	      {% endif %}
	    </p>
	  </div>
	</div>
      </div>
      {{content}}

    </div>
  </div>
</body>
{% include foot.html %}
</html>
